@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,900;1,9..144,900&display=swap");
@font-face {
  font-family: "Barlow", sans-serif;
  src: url(/fonts/Barlow);
}
@font-face {
  font-family: "Fraunces", serif;
  src: url(/fonts/Fraunces);
}
button {
  padding: 16px 31px;
  background-color: rgb(14, 135, 132);
  font-family: "Fraunces", serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 25px;
  text-align: center;
  color: rgb(254, 252, 247);
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: 0.5s;
}

button:hover {
  color: rgb(14, 135, 132);
  background-color: rgb(254, 252, 247);
  border: 1px solid rgb(14, 135, 132);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.container2 {
  max-width: 1111px;
  margin: 0 auto;
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  background-color: white;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 43.5px 0;
  text-align: center;
}
.menu__list {
  display: flex;
  gap: 33px;
  padding: 6px 0;
}
.menu__list-li {
  list-style: none;
}
.menu__list-li a {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.92px;
  color: rgb(131, 136, 143);
  text-transform: uppercase;
}

.hero {
  padding: 117px 85px;
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
}
.hero__content {
  max-width: 493px;
}
.hero__content h1 {
  font-family: "Fraunces", serif;
  color: rgb(254, 252, 247);
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
}
.hero__content p {
  padding: 32px 0 56px;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: rgb(254, 252, 247);
  opacity: 80%;
}

.hero2 {
  padding: 137px 85px;
  background-image: url(../img/background2.png);
  background-position-x: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
}
.hero2__content {
  max-width: 445px;
}
.hero2__content h1 {
  font-family: "Fraunces", serif;
  color: rgb(254, 252, 247);
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
}
.hero2__content p {
  padding: 32px 0 0;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: rgb(254, 252, 247);
  opacity: 80%;
}

.collection {
  margin-top: 123px;
  padding-top: 126px;
  background-image: url(../img/collection.png);
  background-repeat: no-repeat;
  background-size: auto;
}
.collection__cards {
  display: flex;
  gap: 30px;
}
.collection__cards-card {
  max-width: 256px;
}
.collection__cards-card img {
  height: 193px;
}
.collection__cards-card h2 {
  margin: 72px 0 24px;
  font-family: "Fraunces", serif;
  color: rgb(51, 61, 75);
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
  text-align: center;
}
.collection__cards-card p {
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: rgb(51, 61, 75);
}

.choose {
  margin-top: 200px;
  padding-top: 100px;
  height: 577px;
  background-color: rgb(51, 61, 75);
}
.choose__text {
  margin: 0 auto;
  width: 542px;
}
.choose__text h2 {
  margin-bottom: 32px;
  font-family: "Fraunces", serif;
  font-size: 40px;
  font-weight: 900;
  line-height: 48px;
  text-align: center;
  color: rgb(254, 252, 247);
}
.choose__text p {
  opacity: 80%;
  color: rgb(254, 252, 247);
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}
.choose__cards {
  margin: 86px 85px 0;
  display: flex;
  gap: 30px;
}
.choose__cards-card {
  text-align: center;
  padding: 72px 47px 48px;
  width: 350px;
  border-radius: 10px;
  background-color: rgb(14, 135, 132);
}
.choose__cards-card h3 {
  margin: 56px 0 24px;
  font-family: "Fraunces", serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
  color: rgb(254, 252, 247);
}
.choose__cards-card p {
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: rgb(254, 252, 247);
  opacity: 60%;
}
.choose__cards-card3 {
  padding-top: 90px;
}

.work {
  padding: 300px 0 200px;
}
.work > h3 {
  margin-bottom: 80px;
  font-family: "Fraunces", serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
  color: rgb(131, 136, 143);
}
.work .work__cards {
  display: flex;
  margin-bottom: 64px;
}
.work .work__cards-card {
  position: relative;
  border-top: 2px solid rgb(253, 214, 186);
  padding-right: 95px;
}
.work .work__cards-card h2 {
  padding: 82.5px 0 38px;
  font-family: "Fraunces", serif;
  font-size: 72px;
  font-weight: 900;
  line-height: 72px;
  color: rgb(253, 214, 186);
}
.work .work__cards-card h3 {
  width: 255px;
  font-family: "Fraunces", serif;
  font-size: 32px;
  font-weight: 900;
  line-height: 36px;
  color: rgb(51, 61, 75);
}
.work .work__cards-card p {
  padding-top: 42px;
  width: 100%;
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: rgb(51, 61, 75);
  opacity: 80%;
}
.work .work__cards-card input[type=radio] {
  position: absolute;
  top: -15.5px;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  color: red;
  border: 2px solid red;
}

.commitment {
  padding: 168px 0 0;
  display: flex;
  align-items: center;
  gap: 125px;
}
.commitment img {
  border-radius: 5px;
}
.commitment__content h2 {
  font-family: "Fraunces", serif;
  font-size: 40px;
  font-weight: 900;
  line-height: 48px;
  color: rgb(51, 61, 75);
  padding-bottom: 32px;
}
.commitment__content p {
  max-width: 540px;
  opacity: 80%;
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: rgb(51, 61, 75);
}

.quality {
  margin-top: 256px;
  background-color: rgb(51, 61, 75);
  position: relative;
  display: flex;
  gap: 125px;
}
.quality__content {
  width: 540px;
  max-width: 540px;
  padding: 88px 0 88px 85px;
}
.quality__content h2 {
  padding-bottom: 32px;
  color: white;
  font-family: "Fraunces", serif;
  font-size: 40px;
  font-weight: 900;
  line-height: 48px;
}
.quality__content p {
  opacity: 80%;
  color: rgb(254, 252, 247);
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.quality img {
  position: absolute;
  top: -88px;
  right: 85px;
  border-radius: 5px;
}

.quarters {
  margin: 168px 0;
}
.quarters h3 {
  color: rgb(131, 136, 143);
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 24px;
  margin-bottom: 72px;
}
.quarters__box {
  display: flex;
}
.quarters__box-card {
  width: 33%;
}
.quarters__box-card img {
  padding-bottom: 45px;
}
.quarters__box-card h2 {
  color: rgb(51, 61, 75);
  font-family: "Fraunces", serif;
  font-size: 32px;
  font-weight: 900;
  padding-bottom: 24px;
}
.quarters__box-card li {
  list-style-type: none;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  line-height: 26px;
  color: rgb(51, 61, 75);
}

.footer {
  justify-content: space-around;
  background: rgb(44, 52, 62);
}
.footer .brand {
  width: 236px;
}
.footer .menu__list {
  width: 40%;
}
.footer .icons {
  display: flex;
  align-items: center;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
.footer .icons img {
  width: 24px;
}/*# sourceMappingURL=styles.css.map */